<div class="row diaBtn">
    <div class="col-lg-6 col-sm-12 col-xxl-6 ">
        <button type="button" class="btn btn-primary btn-lg diaBtn" (click)="showLast7DaysDiagramInterval()">
            show time recording from last 7 days
        </button>
    </div>
    <div class="col-lg-6  col-sm-12 col-xxl-6">
        <button type="button" class="btn btn-primary btn-lg diaBtn" (click)="showLast31DaysDiagramInterval()">
            show time recording from last 31 days
        </button>
    </div>
    <div id="lineChartMoreDays" style="width: 1000px;height:500px;"></div>
  </div>